.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #04604A;
	color: white;
	font-family: 'PT Sans';
}
.signupWrapper {
	padding-top: 2px;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}
.slick-arrow.slick-prev{ 
	left: 10px;
	z-index: 1;
}
.slick-prev.slick-disabled {
	z-index: 0;
}
.slick-arrow.slick-next {
	right: 10px;
}

.slick-content {
	padding-left: 3em;
	padding-right: 3em;	
	padding-top: .5em;
}

.goal-picture {
	width: 8em;
	position: relative;
	float: right;
	top: -6em;
	right: 1em;
}

.main-wrapper {
	padding-top: 134px;
	font-family: 'Open Sans', sans-serif;
	
	background: url('./components/grass.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;	
	
	height: 250vh;
}

.main-background {
	background: rgba(176,255,233,0.9);
	margin-bottom: 12px;
	padding-bottom: 1px;
	padding-top: 4px;
}

.card {
	margin-top: 16px;
	padding-bottom: 1px;
}

.card h3 {
	margin-top: 4px;
}

.old-content {
    text-decoration: line-through;
}

.greenheck-logo {
	float: left;
	margin-left: 42px;
	width: 6em;
	margin-right: -32px;
}

.slick-content.icon {
	padding-right: 6px;
	width: '1em';
	margin-right: 12px;
}

.ball-picture {
	width: 20px;
	margin-right: 10px;
}

.grade-header {
    margin-top: 6px;
    margin-bottom: 4px;
}

.team-header {
    margin-top: 4px;
}

.coach-email {
    color: white;
    text-decoration: underline;
}

a.coach-email:visited {
    color: white;
    text-decoration: underline;
}

/* visited link */
a.coach-email:visited {
    color: white;
    text-decoration: underline;
}

/* mouse over link */
a.coach-email:hover {
    color: white;
    text-decoration: underline;
}

/* selected link */
a.coach-email:active {
    color: white;
    text-decoration: underline;
}

.email-icon {
    padding-left: 5px;
    font-size: medium;
}

.icon {
	margin-right: 6px;
}